<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i> Principal
        </a>
        <a routerLink="/atrapanieblas" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i> Atrapanieblas
        </a>
        <a href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i> Monitoreo de Agua
        </a>
        <a href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i> Analisis estadístico
        </a>
        <a href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i> Consultar Tiempo
        </a>
        <a href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i> Cambiar Contraseña
        </a>
        <!-- <a href="javascript:void(0)" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i> Salir
        </a> -->
    </ul>
</nav>
