<div [@routerTransition]>
    <app-page-header [heading]="'Servo Motors'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Lista ({{ servomotors.length }}) <bateria-add (deleted)="refresh()"></bateria-add>
                </div>
                <div class="card-block table-responsive">
                    <table class="table table-hover table-striped" *ngIf="servomotors.length > 0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Descripción</th>
                                <th>Capacidad</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let servomotor of servomotors">
                                <td>{{ servomotor.ID_TIPO_SERVOMOTOR }}</td>
                                <td>{{ servomotor.DESCRIPCION  }}</td>
                                <td>Min: {{ servomotor.CAPACIDAD_MINIMA  }} Max: {{ servomotor.CAPACIDAD_MAXIMA }}</td>
                                <td [ngSwitch]="servomotor.ESTADO_REGISTRO">
                                  <span *ngSwitchCase="'A'">Aprobado</span>
                                  <span *ngSwitchCase="'P'">Pendiente</span>
                                </td>
                                <td>
                                  <div class="btn-group">
                                    <servomotor-delete [id]="servomotor.ID_TIPO_SERVOMOTOR" (deleted)="refresh()"></servomotor-delete>
                                  </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>