<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Newbles App</h1>
            <form (ngSubmit)="onLoggedin()" #addAtrapanieblaForm="ngForm">
                <div class="form-content">
                    <div class="form-group" [class.has-danger]="user.invalid && add_submitted">
                        <input type="text" class="form-control input-underline input-lg" name="user" placeholder="Usuario" #user="ngModel" [(ngModel)]="model.user" required>
                        <div *ngIf="user.invalid && add_submitted" class="form-control-feedback">Ingrese su usario</div>
                    </div>

                    <div class="form-group" [class.has-danger]="password.invalid && add_submitted">
                        <input type="password" class="form-control input-underline input-lg" name="password" placeholder="Contraseña" #password="ngModel" [(ngModel)]="model.pass" required>
                        <div *ngIf="password.invalid && add_submitted" class="form-control-feedback">Ingrese su contraseña</div>
                    </div>
                </div>
                <button [disabled]="user.invalid || password.invalid" class="btn rounded-btn" type="submit"> Ingresar </button> &nbsp; <a class="btn rounded-btn" [routerLink]="['/signup']">Registrar</a>
            </form>
        </div>
    </div>
</div>


<swal 
  #login
  title="Error"
  text="Usuario incorrecto"
  type="error">
</swal>