<button class="btn btn-sm btn-info" (click)="open(content)"><i class="fa fa-plus"></i> Actualizar</button>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Actualizar Atrapaniebla</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

      <form (ngSubmit)="updateAtrapaniebla()" #updateAtrapanieblaForm="ngForm" novalidate>

        <div class="form-group" [class.has-danger]="dispositivo.invalid && add_submitted">
          <label class="form-control-label">Dispositivo</label>
          <select [(ngModel)]="atrapaniebla.ID_DISPOSITIVO" required #dispositivo="ngModel" name="dispositivo" class="form-control">
            <option *ngFor='let dispositivo of dispositivos' [value]="dispositivo.ID_DISPOSITIVO">
              {{dispositivo.ID_DISPOSITIVO}}
            </option>
          </select>
          <div *ngIf="dispositivo.invalid && add_submitted" class="form-control-feedback">Valor incorrecto</div>
        </div>

        <div class="form-group" [class.has-danger]="ancho.invalid && add_submitted">
          <label class="form-control-label">Ancho</label>
          <input type="number" class="form-control" name="ancho" placeholder="" #ancho="ngModel" [(ngModel)]="atrapaniebla.ANCHO" required>
          <div *ngIf="ancho.invalid && add_submitted" class="form-control-feedback">Valor incorrecto</div>
        </div>

        <div class="form-group" [class.has-danger]="alto.invalid && add_submitted">
          <label class="form-control-label">Alto</label>
          <input type="number" class="form-control" name="alto" placeholder="" #alto="ngModel" [(ngModel)]="atrapaniebla.ALTO" required>
          <div *ngIf="alto.invalid && add_submitted" class="form-control-feedback">Valor incorrecto</div>
        </div>

        <div class="form-group" [class.has-danger]="humedad.invalid && add_submitted">
          <label class="form-control-label">Humedad</label>
          <input type="number" class="form-control" name="humedad" placeholder="" #humedad="ngModel" [(ngModel)]="atrapaniebla.HUMEDAD_PROMEDIO" required>
          <div *ngIf="humedad.invalid && add_submitted" class="form-control-feedback">Valor incorrecto</div>
        </div>

        <div class="form-group">
          <label class="form-control-label">Latitud</label><br>
          <label for="" class="col-form-label"><b>{{ atrapaniebla.LATITUD }}</b></label>
        </div>

        <div class="form-group">
          <label class="form-control-label">Longitud</label><br>
          <label for="" class="col-form-label"><b>{{ atrapaniebla.LONGITUD }}</b></label>
        </div>

      </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Cancelar</button>
        <button type="button" class="btn btn-info" (click)="updateAtrapaniebla(updateAtrapanieblaForm)">Actualizar</button>
    </div>
</ng-template>