<div [@routerTransition]>
    <app-page-header [heading]="'Atrapanieblas Pendientes'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Lista ({{ atrapanieblas.length }})
                </div>
                <div class="card-block table-responsive">
                    <table class="table table-hover table-striped" *ngIf="atrapanieblas.length > 0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Alto</th>
                                <th>Ancho</th>
                                <th>Humedad</th>
                                <th>Latitud</th>
                                <th>Longitud</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let atrapaniebla of atrapanieblas">
                            <td>{{ atrapaniebla.ID_ATRAPANIEBLAS }}</td>
                            <td>{{ atrapaniebla.ALTO | number: '1.2-2'  }}</td>
                            <td>{{ atrapaniebla.ANCHO | number: '1.2-2'  }}</td>
                            <td>{{ atrapaniebla.HUMEDAD_PROMEDIO | number: '1.2-2' }}</td>
                            <td>{{ atrapaniebla.LATITUD | number: '1.2-10'  }}</td>
                            <td>{{ atrapaniebla.LONGITUD | number: '1.2-10'  }}</td>
                            <td [ngSwitch]="atrapaniebla.ID_ESTADO_ATRAPANIEBLAS">
                              <span *ngSwitchCase="1">Aprobado</span>
                              <span *ngSwitchCase="2">Pendiente de Aprobacion de Creacion</span>
                              <span *ngSwitchCase="3">Pendiente de Aprobacion de Actualizacion</span>
                              <span *ngSwitchCase="4">Pendiente de Aprobacion de Eliminacion</span>
                              <span *ngSwitchCase="5">Pendiente de Aprobacion de Geolocalizacion</span>
                            </td>
                            <td>
                              <div class="btn-group" *ngIf="atrapaniebla.ID_ESTADO_ATRAPANIEBLAS != 1">
                                <button type="button" class="btn btn-info" (click)="tryApprove(atrapaniebla)">Aprobar</button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<swal 
  #swalApprove
  title="Aprobación"
  text="Confirmar aprobación de atrapaniebla"
  type="question"
  [showCancelButton]="true"
  (confirm)="approve()">
</swal>

<swal 
  #swalConfirmation
  title="Confirmación"
  text="Aprobación exitosa"
  type="success">
</swal>