<div [@routerTransition]>
    <app-page-header [heading]="'Atrapanieblas'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Lista ({{ atrapanieblas.length }})
                    <app-modal [dispositivos]="dispositivos" (added)="showSwal($event)"></app-modal>
                    <a class="btn btn-secondary pull-right" download href="/assets/data/atrapanieblas.csv"><i class="fa fa-download"></i> Descargar CSV</a>
                </div>
                <div class="card-block table-responsive">
                    <table class="table table-hover table-striped" *ngIf="atrapanieblas.length > 0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Alto</th>
                                <th>Ancho</th>
                                <th>Humedad</th>
                                <th>Latitud</th>
                                <th>Longitud</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let atrapaniebla of atrapanieblas">
                            <td>{{ atrapaniebla.ID_ATRAPANIEBLAS }}</td>
                            <td>{{ atrapaniebla.ALTO | number: '1.2-2'  }}</td>
                            <td>{{ atrapaniebla.ANCHO | number: '1.2-2'  }}</td>
                            <td>{{ atrapaniebla.HUMEDAD_PROMEDIO | number: '1.2-2' }}</td>
                            <td>{{ atrapaniebla.LATITUD | number: '1.2-10'  }}</td>
                            <td>{{ atrapaniebla.LONGITUD | number: '1.2-10'  }}</td>
                            <td [ngSwitch]="atrapaniebla.ESTADO_REGISTRO">
                              <span *ngSwitchCase="'A'">Aprobado</span>
                              <span *ngSwitchCase="'P'">Pendiente</span>
                            </td>
                            <td>
                              <div class="btn-group">
                                <app-delete-modal [atrapaniebla]="atrapaniebla" (deleted)="showSwal($event)"></app-delete-modal>
                                <update-modal [dispositivos]="dispositivos" [atrapaniebla]="atrapaniebla" (updated)="showSwal($event)"></update-modal>
                                <app-coords-modal [atrapaniebla]="atrapaniebla" (added)="showSwal($event)"></app-coords-modal>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<swal 
  #swal
  title="Información"
  text="{{ message }}"
  type="info">
</swal>