<div [@routerTransition]>
    <app-page-header [heading]="'Atrapanieblas'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Lista ({{ atrapanieblas.length }}) <app-modal (deleted)="refresh()"></app-modal>
                </div>
                <div class="card-block table-responsive">
                    <table class="table table-hover table-striped" *ngIf="atrapanieblas.length > 0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Alto</th>
                                <th>Ancho</th>
                                <th>Humedad</th>
                                <th>Latitud</th>
                                <th>Longitud</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let atrapaniebla of atrapanieblas">
                            <td>{{ atrapaniebla.ID_ATRAPANIEBLAS }}</td>
                            <td>{{ atrapaniebla.ALTO | number: '1.2-2'  }}</td>
                            <td>{{ atrapaniebla.ANCHO | number: '1.2-2'  }}</td>
                            <td>{{ atrapaniebla.HUMEDAD_PROMEDIO | number: '1.2-2' }}</td>
                            <td>{{ atrapaniebla.LATITUD | number: '1.2-2'  }}</td>
                            <td>{{ atrapaniebla.LONGITUD | number: '1.2-2'  }}</td>
                            <td>
                              <div class="btn-group">
                                <app-delete-modal [id]="atrapaniebla.ID_ATRAPANIEBLAS" (deleted)="refresh()"></app-delete-modal>
                                <!-- <button type="button" class="btn btn-sm btn-info" (click)="tryEdit(deductible)">Editar</button> -->
                                <!-- <button type="button" class="btn btn-sm btn-danger" (click)="id_atrapaniebla_delete = atrapaniebla.ID_ATRAPANIEBLAS; deleteModal.show();">Eliminar</button> -->
                              </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>