<div [@routerTransition]>
    <app-page-header [heading]="'Dispositivos'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Lista ({{ dispositivos.length }}) <modal-add-dispositivo [servomotors]="servomotors" [baterias]="baterias" (added)="refresh()"></modal-add-dispositivo>
                </div>
                <div class="card-block table-responsive">
                    <table class="table table-hover table-striped" *ngIf="dispositivos.length > 0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Descripcion</th>
                                <th># Placa</th>
                                <th>Fecha de creación</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dispositivo of dispositivos">
                            <td>{{ dispositivo.ID_DISPOSITIVO }}</td>
                            <td>{{ dispositivo.DESCRIPCION }}</td>
                            <td>{{ dispositivo.NUMERO_PLACA }}</td>
                            <td>{{ dispositivo.FECHA_CREACION | date:'medium' }}</td>
                            <td>
                              <div class="btn-group">
                                <modal-delete-dispositivo [id]="dispositivo.ID_DISPOSITIVO" (deleted)="refresh()"></modal-delete-dispositivo>
                                <modal-update-dispositivo [servomotors]="servomotors" [baterias]="baterias" [dispositivo]="dispositivo" (updated)="refresh()"></modal-update-dispositivo>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>